.hexrow {
  white-space: nowrap;
}

.hexrow > div {
  width: 100px;
  height: 170px; /* ( width x cos(30) ) x 2 */
  margin: -1px 24px;
  position: relative;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: #000000;
  text-align: center;
  line-height: 170px; /*equals height*/
  display: inline-block;
}

.hexrow > div:nth-child(odd) {
  top: 41.3px; /* ( width x cos(30) / 2 ) */
}

.hexrow > div:nth-child(even) {
  top: -45.8px; /* -1 x( ( width x cos(30) / 2) + (hexrow bottom margin / 2)) */ 
}

.hexrow > div > div:first-of-type {
  position: absolute;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  overflow: hidden;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  
  -ms-transform:rotate(60deg); /* IE 9 */
  -moz-transform:rotate(60deg); /* Firefox */
  -webkit-transform:rotate(60deg); /* Safari and Chrome */
  -o-transform:rotate(60deg); /* Opera */
  transform:rotate(60deg);
}

.hexrow > div > div:first-of-type:before {
  content: '';
  position: absolute;
  width: 200px; /* width of main + margin sizing */
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  
  -ms-transform:rotate(-60deg) translate(-150px, 0); /* IE 9 */
  -moz-transform:rotate(-60deg) translate(-150px, 0); /* Firefox */
  -webkit-transform:rotate(-60deg) translate(-150px, 0); /* Safari and Chrome */
  -o-transform:rotate(-60deg) translate(-150px, 0); /* Opera */
  transform:rotate(-60deg) translate(-150px, 0);
  
  -ms-transform-origin: 0 0; /* IE 9 */
  -webkit-transform-origin: 0 0; /* Safari and Chrome */
  -moz-transform-origin: 0 0; /* Firefox */
  -o-transform-origin: 0 0; /* Opera */
  transform-origin: 0 0;
}

.hexrow > div > div:last-of-type {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  
  -ms-transform:rotate(-60deg); /* IE 9 */
  -moz-transform:rotate(-60deg); /* Firefox */
  -webkit-transform:rotate(-60deg); /* Safari and Chrome */
  -o-transform:rotate(-60deg); /* Opera */
  transform:rotate(-60deg);
}

.hexrow > div > div:last-of-type:before {
  content: '';
  position: absolute;
  width: 200px; /* starting width + margin sizing */
  height: 100%;
  background-image: inherit;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 120%;
  bottom: 0;
  left: 0;
  z-index: 1;
  
  /*translate properties are initial width (100px) and half height (173.2 / 2 = 86.6) */
  -ms-transform:rotate(60deg) translate(100px, 86.6px); /* IE 9 */
  -moz-transform:rotate(60deg) translate(100px, 86.6px); /* Firefox */
  -webkit-transform:rotate(60deg) translate(100px, 86.6px); /* Safari and Chrome */
  -o-transform:rotate(60deg) translate(100px, 86.6px); /* Opera */
  transform:rotate(60deg) translate(100px, 86.6px);
  
  -ms-transform-origin: 100% 0; /* IE 9 */
  -webkit-transform-origin: 100% 0; /* Safari and Chrome */
  -moz-transform-origin: 100% 0; /* Firefox */
  -o-transform-origin: 100% 0; /* Opera */
  transform-origin: 100% 0;
}

.hexrow > div > span {
  display: inline-block;
  margin: 0 -25px;
  line-height: 1.1;
  vertical-align: middle;
  white-space: normal; 
}

.hexrow > div.noBorder {
  border: 0;
}

.hexrow > div > div:first-of-type.noBorder {
  border: 0;
}

.hexrow > div > div:last-of-type.noBorder {
  border: 0;
}

.hexrow > div.highlight {
  border-color: blue;
}

.hexrow > div > div:first-of-type.highlight {
  border-color: blue;
}

.hexrow > div > div:last-of-type.highlight {
  border-color: blue;
}

.hexrow > div.refHexagon {
  z-index: 2;
  border-color: green;
}

.hexrow > div > div:first-of-type.refHexagon {
  z-index: 2;
  border-color: green;
}

.hexrow > div > div:last-of-type.refHexagon {
  z-index: 2;
  border-color: green;
}
