.wrapper {
  flex: 1;
}

.app {
  display: flex;
  flex: 1;
  height: 100%;
  text-align: center;
}

.content {
  display: flex;
}

.partition {
  position: absolute;
  width: 450px;
  background-color: cadetblue;
  z-index: 5;
}

.scrollable {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.hide {
  display: none;
}
